.think-foldable-content {
    position: relative;
    border: 0px solid #a0acbc;
    border-radius: 6px;
    padding: 10px 30px 10px 0px;
}

.think-content-wrapper {
    max-height: 1.5em;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.think-content-wrapper.think-collapsed {
    white-space: nowrap;
    text-overflow: ellipsis;
    mask-image: linear-gradient(to right,black 60%,transparent 100%);
}

.expand-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #0366d6;
    cursor: pointer;
    padding-left: 10px;
}

.expand-btn::after {
    content: "›››";
}

.collapse-btn {
    display: none;
    text-align: right;
    margin-top: 10px;
    color: #0366d6;
    cursor: pointer;
}

.think-expanded .think-content-wrapper {
    max-height: 2000px;
    white-space: normal;
}

.think-expanded .expand-btn {
    display: none;
}

.think-expanded .collapse-btn {
    display: block;
}


.form-control.is-must {
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12'%3E%3Cpath d='M6 2L7 5H10L8 7L9 10L6 8L3 10L4 7L2 5H5Z' fill='red'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position:right calc(.375em + .1875rem) center;
    background-size: calc(.55em + .375rem) calc(.55em + .375rem);
}

.filetype{
    width: 15px;
    margin-right: 5px;
}

.file-link{
    text-decoration: none;
}
